/* fonts */
@font-face {
  font-family: "Charis";
  src: url(fonts/Charis/CharisSIL-R.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Charis";
  src: url(fonts/Charis/CharisSIL-I.woff);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Charis";
  src: url(fonts/Charis/CharisSIL-B.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Charis";
  src: url(fonts/Charis/CharisSIL-BI.woff);
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
  transition: background-color 0.2s;
}

/* Html und Body */
html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  min-width: 240px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  background-color: #f1f3f4;
  color: #282828;
}

@media only screen and (max-width: 240px) {
  html, body {
    overflow-x: scroll;
  }
}

html.dark, html.dark body {
  background-color: #000000;
  color: #FFF;
}

/* Links */
a {
  color: #66BAFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Buttons */
button:focus {outline:0;}

/* Header */
.header {
  box-sizing: content-box;
  font-family: serif;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #FFF;
  /* border-bottom: 1px solid hsla(360, 0%, 65%, 1); */
  /* box-shadow */
  -webkit-box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.5);
}

html.dark .header {
  background-color: #000;
  border-bottom: 1px solid hsla(0, 0%, 20%, 0.5);
  -webkit-box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 1);
  box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 1);
}

.header__title {
  font-weight: 700;
  font-family: 'Cinzel', serif;
  display: inline-block;
  font-size: 45px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.header__nav-items {
  font-weight: normal;
  line-height: 40px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  display: inline-block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  white-space: nowrap;
}

.header__nav-items>li {
  display: inline-block;
}

.header__nav-items__login {
  color: inherit;
  text-decoration: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  vertical-align: middle;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

html.dark .hamburger-inner, html.dark .hamburger-inner::before, html.dark .hamburger-inner::after {
  background-color: #FFF;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/* Hamburger Squeeze */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
