.wrapper {
	width: calc(100% - 10px);
	max-width: 1100px;
	margin: 64px auto 0;
	padding-bottom: 15px;
	transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
	;
}

.loading {
	position: relative;
	width: 100%;
	height: 20vh;
	margin-bottom: 20vh;
	background-color: var(--background);
	text-align: center;
}

.loading__center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.titles {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 0.4em;
	margin-bottom: 0.3em;
}

/* Quickstart */
.quickstart {
	margin: 0 5px;
}

.quickstart__options__wrapper {
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	overflow-x: scroll;
	margin-bottom: 10px;
	-ms-overflow-style: none;
}

.quickstart__options__wrapper::-webkit-scrollbar { 
	display: none; 
}

.quickstart__options {
	min-width: 600px;
	width: calc(100vw - 10px);
	max-width: 650px;
	align-items: center;
	height: 70px;
	display: inline-flex;
	margin-left: 10px;
	flex-direction: row;
	flex-wrap: nowrap;
}

.quickstart__options__option {
	font-family: 'Lato', sans-serif;
	text-decoration: none !important;
	color: var(--font) !important;
	line-height: 38px;
	text-align: center;
	flex-grow: 1;
	flex-basis: auto;
	cursor: pointer;
	padding: 1px 10px;
	height: 38px;
	box-sizing: content-box;
	margin-right: 10px;
	background-color: var(--foreground);
	border-radius: 20px;
	box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, 0.05);
	transition: background 0.2s, box-shadow 0.15s, opacity 0.15s, transform 0.15s;
}

.quickstart__options__option:active {
	transform: scale(0.985);
	box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.05);
}

.dark .quickstart__options__option {
	border: 1px solid hsla(0, 0%, 50%, 0.2);
	padding: 0px 9px;
}

.dark .quickstart__options__option {
	box-shadow: none;
}

.quickstart__options__option--btn {
	flex-basis: 96px;
	position: relative;
	display: block;
	border: none;
	margin: 0 10px 0 0;
	background: var(--foreground);
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: normal;
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.quickstart__options__option--btn:focus {
	box-shadow: 0 0 0 2px var(--teslablue);
}

.quickstart__options__option--btn:active {
	transform: scale(0.985);
	box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.05);
}

.quickstart__options__option--btn .btn__text {
	min-width: 96px;
}

/* Card */
.card {
	position: relative;
	width: calc(50% - 10px);
	margin: 28px 5px 8px;
	padding: 30px 10px 10px;
	border: none;
	border-radius: 8px;
	background-color: var(--foreground);
	box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, 0.05);
}

.dark .card {
	padding: 29px 9px 9px;
	border: 1px solid hsla(0, 0%, 50%, 0.2);
	box-shadow: none;
}

@media (max-width: 700px) {
	.card {
		width: calc(100% - 10px);
	}
}

.card--article {
	cursor: pointer;
}

/* .card__info */
.card__info {
	cursor: pointer;
	display: flex;
	position: absolute;
	top: 0px;
	left: 40px;
	flex-direction: column;
	justify-content: center;
	height: 36px;
	padding: 0px 15px 0px 30px;
	transform: translateY(-50%);
	border: none;
	border-radius: 18px;
	background-color: var(--foreground);
	box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.1);
	white-space: nowrap;
}

.dark .card__info {
	top: -1px;
	left: 39px;
	padding: 0px 14px 0px 29px;
	border: 1px solid hsla(0, 0%, 50%, 0.2);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.card__info__picture {
	position: absolute;
	top: 50%;
	left: 0;
	width: 50px;
	height: 50px;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.1);
}

.dark .card__info__picture {
	left: -1px;
	box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.5);
}

.card__info__textbox {}

.card__info__textbox__name {
	font-size: 14px;
}

.card__info__textbox__time {
	color: hsl(0, 0%, 50%);
	font-size: 12px;
}

.card__delete {
	transform: translateY(-50%);
	background-color: var(--foreground);
	width: 36px;
	height: 36px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	right: 20px;
	box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.1);
	color: var(--error);
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	border: none;
	text-align: center;
	text-decoration: none;
	transition: opacity 150ms, background 150ms, transform 150ms;

	padding: 1px;
}

.dark .card__delete {
	padding: 0;
	border: 1px solid hsla(0, 0%, 50%, 0.2);
	box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.5);
	top: -1px;
	right: 19px;
}

.no-touchevents .card__delete:hover,
.card__delete:focus {
	opacity: 0.8;
}

.card__delete:focus {
	box-shadow: 0 0 0 2px var(--teslablue);
}


.card__delete:active {
	transform: translateY(-50%) scale(0.94);
}

.card__delete .material-icons {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	display: block;
	pointer-events: none;
	user-select: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

/* card headline */
.card--article h3 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 5px;
}

/* card__text */
.card__text {
	font-size: 16px;
	line-height: 20px;
}

.card--post .card__text {
	margin-bottom: 10px;
}

.card--article .card__text a {
	white-space: nowrap;
}

/* card__picture */
.card--article .card__picture {
	width: 150px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: right;
	border-radius: 4px;
}

@media (max-width: 350px) {
	.card--article .card__picture {
		width: 100%;
		margin-left: initial;
	}
}

.card--post .card__picture {
	display: block;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
}
