:root {
  --wrapper-margin-full: calc((100vw - 1100px) / 2);
  --wrapper-margin-small: calc((100vw - 1300px) / 2);
  --wrapper-margin-small-full-difference: calc(var(--wrapper-margin-small) - var(--wrapper-margin-full));
}

.wrapper {
  width: calc(100% - 20px);
  max-width: 1100px;
  min-height: calc(100vh - 60px);
  margin: 60px auto 0;
  padding-bottom: 15px;
  transition: transform 0.2s cubic-bezier(0.4, 0.0, 1, 1);
}

@media only screen and (max-width: 1510px) and (min-width: 1320px) {
  .side-menu--shown .wrapper {
    transform: translateX(var(--wrapper-margin-small-full-difference));
    transition: transform 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
}

.loading {
  text-align: center;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6500;
  opacity: 1;
}
.loading__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html.dark .loading {
  background-color: #000;
}
/* Card */
.card {
  /* box-shadow */
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  width: calc(50% - 20px);
  margin: 28px 10px 8px;
  padding: 30px 10px 10px;
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 2000;
}

html.dark .card {
  /* box-shadow */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #1c1c1e;
  box-shadow: none;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    width: calc(100% - 20px);
  }

  .card {
    width: calc(100% - 20px);
  }
}

.card__text a {z-index: 9000}

/* Card background */
.card::before {
  z-index: 2300;
  position: absolute;
  top: -30px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  transform: scale(0.95);
  border-radius: 12px;
  background-color: hsla(0, 0%, 50%, 0.15);
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: transform 0.2s, opacity 0.2s;
}
.card:hover::before {
  transform: scale(1);
  opacity: 1;
}

/* .card__info */
.card__info {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: table;
  z-index: 1500;
  position: absolute;
  top: 0px;
  left: 40px;
  height: 36px;
  padding-right: 15px;
  padding-left: 30px;
  transform: translateY(-50%);
  border-radius: 18px;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

html.dark .card__info {
  /* box-shadow */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #1c1c1e;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.card__info__picture {
  /* box-shadow */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  left: 0;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

html.dark .card__info__picture {
  /* box-shadow */
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 1);
}

.card__info__textbox {
  display: table-cell;
  vertical-align: middle;
}

.card__info__textbox__name {
  font-size: 14px;
}

.card__info__textbox__time {
  color: hsl(0, 0%, 50%);
  font-size: 12px;
}

/* card headline */
.card--article h3 {
  margin: 0 0 5px;
}

/* card__text */
.card__text {
  font-size: 16px;
  line-height: 20px;
}

.card--post .card__text {
  margin-bottom: 10px;
}

.card--article .card__text a {
  white-space: nowrap;
}

/* card__picture */
.card--article .card__picture {
  width: 150px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
  border-radius: 4px;
}

@media only screen and (max-width: 350px) {
  .card--article .card__picture {
    width: 100%;
    margin-left: initial;
  }
}

.card--post .card__picture {
  margin-top: 5px;
  display: block;
  width: 100%;
  border-radius: 5px;
}
