html.debug * {
  outline: 1px solid rgba(255, 0, 0, .2);
}

html.debug * * {
  outline: 1px solid rgba(0, 255, 0, .2);
}

html.debug * * * {
  outline: 1px solid rgba(0, 0, 255, .2);
}

html.debug * * * * {
  outline: 1px solid rgba(255, 0, 255, .2);
}

html.debug * * * * * {
  outline: 1px solid rgba(0, 255, 255, .2);
}

html.debug * * * * * * {
  outline: 1px solid rgba(255, 255, 0, .2);
}

html.debug * * * * * * * {
  outline: 1px solid rgba(255, 0, 0, .2);
}

html.debug * * * * * * * * {
  outline: 1px solid rgba(0, 255, 0, .2);
}

html.debug * * * * * * * * * {
  outline: 1px solid rgba(0, 0, 255, .2);
}

:root {
  --graphite-black: #282828;
  --font: #282828;
  /*hsl(211, 100%, 50%)*/
  --teslablue: #007AFF;
  --error: #FF3B30;
  --warning: #FFCC00;
  --foreground: #FFFFFF;
  --background: #f4f4f4;
}

html.dark {
  --font: #FFF;
  --teslablue: #0A84FF;
  --error: #FF453A;
  --warning: #FFD60A;
  --foreground: #1c1c1e;
  --background: #000000;
}

/* transparent */
:root {
  --transparent__color: hsla(0, 0%, 100%, 0.95);
  --transparent__backdrop-filter: none;
}

html.dark {
  --transparent__color: hsla(0, 0%, 13.3%, 0.98);
  --transparent__backdrop-filter: none;
}

html.backdropfilter {
  --transparent__color: hsla(0, 0%, 100%, 0.7);
  --transparent__backdrop-filter: saturate(180%) blur(20px);
}

html.dark.backdropfilter {
  --transparent__color: hsla(0, 0%, 13.3%, 0.7);
  --transparent__backdrop-filter: saturate(180%) blur(20px);
}

* {
  box-sizing: border-box;
  transition: background-color 0.2s;
}

strong {
  letter-spacing: -0.02em;
}

/* Html und Body */
html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  min-width: 240px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--font);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

@media only screen and (max-width: 480px) {
  html.side-menu--shown, body.side-menu--shown {
    overflow-y: hidden;
  }
}

html.scroll-lock, html.scroll-lock body {
  overflow-y: hidden;
}

@media only screen and (max-width: 240px) {
  html, body {
    overflow-x: scroll;
  }
}

/* Icons */
.material-icons {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Links */
a {
  color: var(--teslablue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--teslablue);;
}

a:link {
  color: var(--teslablue);;
}

/* Buttons */
button:focus {
  font-family: 'Roboto', sans-serif;
  outline: 0;
}

input {
  font-family: 'Roboto', sans-serif;
}

/* switch */
.switch {
  display: block;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 24px;
  width: 42px;
  background-color: hsl(211, 30%, 50%);
  border-radius: 12px;
  overflow: hidden;
  transition: background-color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.switch:checked {
  background-color: var(--teslablue);
}

.switch::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  transition: transform 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
}

.switch:checked::before {
  transform: translate(18px, -50%);
}

.switch:disabled {
  opacity: 0.3;
}

/* Header */
.header {
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  box-sizing: content-box;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.2);
  background-color: var(--transparent__color);
  -webkit-backdrop-filter: var(--transparent__backdrop-filter);
  backdrop-filter: var(--transparent__backdrop-filter);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  font-family: serif;
  transition: background-color 0.2s, border-bottom 0.3s;
  user-select: none;
}

html.dark .header {
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

.header__title {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cinzel', serif;
  font-size: 45px;
  font-weight: 700;
  white-space: nowrap;
}

.header__logo {
  display: none;
  position: absolute;
  top: 50%;
  left: 20px;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color 0.2s;
}

.header__logo:hover {
  background-color: hsla(0, 0%, 50%, 0.3);
}

@media only screen and (max-width: 500px) {
  .header__title {
    display: none;
  }

  .header__logo--light {
    display: block;
  }

  html.dark .header__logo--light {
    display: none;
  }

  html.dark .header__logo--dark {
    display: block;
  }
}

.header__nav-items {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  padding: 0;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  transform: translate(0, -50%);
  line-height: 40px;
  list-style-type: none;
  white-space: nowrap;
  height: 50px;
}

.header__nav-items>li {
  display: inline-block;
  height: 100%;
  width: 50px;
  position: relative;
}

.header__nav-items>li .material-icons {
  font-size: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* profile picture */
.header__nav-items__button {
  color: inherit;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s;
}

.header__nav-items__button:hover {
  opacity: 0.8;
}

.header__nav-items__button__picture {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: block;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  transition-timing-function: linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger:hover {
  opacity: 0.6;
}

.hamburger-box {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--font);
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  display: block;
  content: "";
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider-r .hamburger-inner::after {
  top: 20px;
}

html.side-menu--shown .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

html.side-menu--shown .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

html.side-menu--shown .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/* message */
.message-box {
  position: fixed;
  top: 50px;
  right: 15px;
  width: 400px;
  max-width: calc(100% - 30px);
  z-index: 8600;
  transition: background-color 0.2s, transform 0.2s cubic-bezier(0.4, 0.0, 1, 1);
}

html.side-menu--shown .message-box {
  transform: translateX(-200px);
  transition: background-color 0.2s, transform 0.25s cubic-bezier(0.0, 0.0, 0.2, 1)
}

.message {
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 5px 5px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
}

.message--error {
  background-color: hsla(3, 100%, 90%, 0.95);
}

html.backdropfilter .message--error {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: hsla(3, 100%, 90%, 0.7);
}

html.dark .message--error {
  background-color: hsla(3, 100%, 5%, 0.98);
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
}

html.backdropfilter.dark .message--error {
  background-color: hsla(3, 100%, 5%, 0.7);
}

.message--warning {
  background-color: hsla(48, 100%, 90%, 0.95);
}

html.backdropfilter .message--warning {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: hsla(48, 100%, 90%, 0.7);
}

html.dark .message--warning {
  background-color: hsla(48, 100%, 8%, 0.98);
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.4);
}

html.backdropfilter.dark .message--warning {
  background-color: hsla(48, 100%, 8%, 0.7);
}

.message__ribbon {
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 25px;
}

.message--error .message__ribbon {
  background-color: var(--error);
}

.message--warning .message__ribbon {
  background-color: var(--warning);
}

.message__ribbon .material-icons {
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.message__close .material-icons {
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.message__close {
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}

@keyframes pulsing {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.message__close::before {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 100%;
  background-color: hsla(0, 0%, 50%, 0.25);
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  animation-duration: 0.7s;
  animation-name: pulsing;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.message:hover .message__close::before {
  opacity: 1;
}

.message__float-fix {
  float: right;
  width: 12px;
  height: 12px;
}

/* cookies support */
html.no-cookies .message--cookies {
  display: block !important;
}

/* Side-Menu */
.side-menu {
  -webkit-box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  z-index: 9000;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 200px;
  overflow-y: scroll;
  transform: translateX(101%);
  border-left: 1px solid hsla(0, 0%, 50%, 0.2);
  background-color: var(--transparent__color);
  -webkit-backdrop-filter: var(--transparent__backdrop-filter);
  backdrop-filter: var(--transparent__backdrop-filter);
  box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s, transform 0.2s cubic-bezier(0.4, 0.0, 1, 1);
}

.side-menu hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: hsla(0, 0%, 50%, 0.2);
}

@media only screen and (max-width: 300px) {
  .side-menu {
    left: -1px;
    width: auto;
  }
}

html.side-menu--shown .side-menu {
  transform: translateX(0%);
  transition: background-color 0.2s, transform 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
}

html.dark .side-menu {
  -webkit-box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.3);
  box-shadow: -4px 0 12px 0 rgba(0, 0, 0, 0.3);
}

.side-menu__list {
  padding: 0;
  margin: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  font-size: 20px;
  list-style-type: none;
}

.side-menu__list a, .side-menu__list a:link, .side-menu__list a:visited, .side-menu__list a:hover, .side-menu__list a:focus, .side-menu__list a:active, .header__title a, .header__title a:link, .header__title a:visited, .header__title a:hover, .header__title a:focus, .header__title a:active {
  color: inherit;
  text-decoration: none;
}

.side-menu__list a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px 15px 15px;
}

.side-menu__list__li {
  height: 54px;
  padding: 15px 15px 15px;
  white-space: nowrap;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  background-color: hsla(0, 0%, 0%, 0);
  user-select: none;
  z-index: 9100;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
}

.side-menu__list__li:nth-of-type(2n-1):not(.side-menu__theme-selection) {
  background-color: hsla(0, 0%, 0%, 0.05);
}

html.dark .side-menu__list__li:nth-of-type(2n-1):not(.side-menu__theme-selection) {
  background-color: hsla(0, 0%, 0%, 0.15);
}

.side-menu__list__li::before {
  content: '';
  z-index: 9200;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: var(--teslablue);
  transition: width 0.2s;
}

.side-menu__list__li:hover::before {
  width: 5px;
}

.side-menu__list__li:not(.side-menu__theme-selection):hover {
  background-color: hsla(0, 0%, 0%, 0.1);
}

html.dark .side-menu__list__li:not(.side-menu__theme-selection):hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.side-menu--not-hovered {
  opacity: 0.5;
}

.side-menu .material-icons {
  font-size: 30px;
}

.side-menu__list__li__text {
  margin-left: 40px;
}

.side-menu__list__li .switch {
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Side-Menu theme selection */
.side-menu__theme-selection {
  text-align: center;
  height: 60px;
  padding: 0;
}

.side-menu__theme-selection .vr {
  height: 100%;
  width: 1px;
  background-color: hsla(0, 0%, 50%, 0.05);
  float: left;
}

.side-menu__theme-selection .material-icons {
  font-size: 25px;
  position: relative;
  top: auto;
  transform: none;
}

.side-menu__theme-selection::before {
  content: none;
}

.side-menu__theme-selection__option {
  width: calc(33.33% - 0.66px);
  height: 100%;
  float: left;
  position: relative;
}


.side-menu__theme-selection__option:hover {
  background-color: hsla(0, 0%, 0%, 0.1);
}

html.dark .side-menu__theme-selection__option:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.side-menu__theme-selection__option::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  background-color: hsla(0, 0%, 50%, 0.5);
  transition: height 0.15s, background-color 0.15s;
}

.side-menu__theme-selection__option.side-menu__theme-selection__option--selected::before {
  height: 4px;
  background-color: hsla(0, 0%, 50%, 0.5);
}

.side-menu__theme-selection__option:hover::before {
  height: 6px;
  background-color: var(--teslablue);
}

.side-menu__theme-selection__option__center {
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-menu__theme-selection__option__center span {
  line-height: 20px;
  font-size: 16px;
}

/* login */
.login__wrapper {
  display: none;
  z-index: 8500;
  position: fixed;
  top: 51px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  min-height: 520px;
}

.login__container {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 500px;
  padding: 20px 20px 20px 230px;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: var(--transparent__color);
  -webkit-backdrop-filter: var(--transparent__backdrop-filter);
  backdrop-filter: var(--transparent__backdrop-filter);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

@media only screen and (max-width: 630px) {
  .login__container {
    left: -150px;
    transform: translate(0, -50%);
    width: auto;
    right: 0;
    border-radius: 0;
  }
}

html.dark .container {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.4);
}

.login__container__close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.login__container__close .material-icons {
  position: relative;
  top: auto;
  transform: none;
}

.container__pic-container {
  transform: rotate(8deg) scale(1.2);
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -30px;
  width: 200px;
  overflow: hidden;
}

.container__pic-container__picture {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 290px;
  height: 500px;
  transform: translate(17px, -10px) rotate(-8deg) scale(0.85);
  opacity: 1;
  filter: saturate(130%);
}

.container__pic-container__shadow {
  -webkit-box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

html.dark .container__pic-container__shadow {
  -webkit-box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.container__login {
  top: 50%;
  left: 230px;
  transform: translateY(-50%);
  right: 20px;
  position: absolute;
}

.container__login__logo {
  width: 50px;
  height: 50px;
  display: block;
}

.container__login__logo--dark {
  display: none;
}

html.dark .container__login__logo--light {
  display: none;
}

html.dark .container__login__logo--dark {
  display: block;
}

.container__login__error {
  color: var(--error);
  position: absolute;
  top: 290px;
}

.form__textfield {
  position: absolute;
  box-sizing: content-box;
  display: block;
  width: calc(100% - 28px);
  height: 35px;
  padding-right: 4px;
  padding-left: 24px;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.3);
  background-color: transparent;
  color: inherit;
  font-size: 24px;
  border-radius: 0;
  transition: border-bottom 0.15s, border-radius 0.15s;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px;
}

.container__login h2 {
  margin-bottom: 146px;
}

.form__textfield:nth-of-type(1) {
  top: 118px;
}

.form__textfield:nth-of-type(2) {
  top: 176px;
}

.form__textfield--password {
  background-image: url(../framework/icons/password--66.3.svg);
}

.form__textfield--username {
  background-image: url(../framework/icons/username--66.3.svg);
}

.form__textfield:focus {
  border-bottom: 5px solid hsl(211, 100%, 50%);
  outline: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form__textfield--error {
  border-bottom: 1px solid var(--error);
}

.form__textfield--error:focus {
  border-bottom: 5px solid var(--error);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Placeholder */
::-webkit-input-placeholder {
  line-height: 27px;
  font-size: 18px;
}

:-moz-placeholder {
  line-height: 27px;
  font-size: 18px;
}

::-moz-placeholder {
  line-height: 27px;
  font-size: 18px;
}

:-ms-input-placeholder {
  line-height: 27px;
  font-size: 18px;
}

::placeholder {
  line-height: 27px;
  font-size: 18px;
}

.form__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 160px;
  height: 40px;
  margin: 30px 10px 10px 0;
  padding: auto;
  border: none;
  border-radius: 25px;
  background-color: hsl(211, 100%, 50%);
  color: #FFF;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 150ms ease-in-out, transform 150ms ease;
}

.form__submit:hover,
.form__submit:focus {
  background: hsl(211, 100%, 40%);
}

.form__submit:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.form__submit:active {
  transform: scale(0.98);
}

/* form submit styles when disabled */
.form__submit:disabled {
  opacity: 0.8;
  transform: scale(1);
  cursor: progress;
}


/* Feauture detect prefers-color-scheme */
.feature-detect--prefers-color-scheme--1, .feature-detect--prefers-color-scheme--2  {
  display: none;
}
.feature-detect--prefers-color-scheme--1 {
  height: 2px;
}
.feature-detect--prefers-color-scheme--2 {
  height: 3px;
}
@media (prefers-color-scheme: light) {
  .feature-detect--prefers-color-scheme--1 {
    height: 4px;
  }
}
@media (prefers-color-scheme: dark) {
  .feature-detect--prefers-color-scheme--2 {
    height: 6px;
  }
}
