* {
  box-sizing: border-box;
  transition: background-color 0.2s;
}
html.preload * {
  transition: none;
}

strong {
  letter-spacing: -0.02em;
}

/* Html und Body */
html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  min-width: 240px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f4f4f4;
  color: #282828;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

@media only screen and (max-width: 240px) {
  html, body {
    overflow-x: scroll;
  }
}

html.dark, html.dark body {
  background-color: #000000;
  color: #FFF;
}

/* Links */
a {
  color: #66BAFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Buttons */
button:focus {outline:0;}

/* Header */
.header {
  /* box-shadow */
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  border-bottom: 1px solid hsla(0, 0%, 20%, 0);
  background-color: #FFF;
  background-color: hsl(0, 0%, 100%, 0.9);
  font-family: serif;
  transition: background-color 0.2s, border-bottom 0.3s;
}
html.backdropfilter .header{
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: hsl(0, 0%, 100%, 0.7);
}
/* Header dark */
html.dark .header {
  /* box-shadow */
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  background-color: #000;
  background-color: hsl(0, 0%, 13.3%, 0.9);
}
html.backdropfilter.dark .header{
  background-color: hsl(0, 0%, 13.3%, 0.7);
}
html.dark .header.border {
  border-bottom: 1px solid hsla(0, 0%, 20%, 1);
}



.header__title {
  display: inline-block;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Cinzel', serif;
  font-size: 45px;
  font-weight: 700;
  white-space: nowrap;
}

.header__nav-items {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  transform: translate(0, -50%);
  font-weight: normal;
  line-height: 40px;
  list-style-type: none;
  white-space: nowrap;
}

.header__nav-items>li {
  display: inline-block;
}




/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  transition-timing-function: linear;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: #000;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: ease;
}

html.dark .hamburger-inner, html.dark .hamburger-inner::before, html.dark .hamburger-inner::after {
  background-color: #FFF;
}

.hamburger-inner::before, .hamburger-inner::after {
  display: block;
  content: "";
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/* Hamburger Squeeze */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
