[contenteditable] {
  transition: 0.2s;
  background-color: hsla(0, 0%, 50%, 0.08);
  outline: 0 solid transparent;
}

html.dark [contenteditable] {
  background-color: hsla(0, 0%, 50%, 0.1);
}

[contenteditable]:focus {
  background-color: hsla(0, 0%, 50%, 0.15);
}

html.dark [contenteditable]:focus {
  background-color: hsla(0, 0%, 50%, 0.2);
}

.article {
  margin-top: 34px;
  min-height: 100px;
}
