[contenteditable]:focus {
  outline: 0 solid transparent;
}

#editorjs *:not(.cdx-input) {
  box-sizing: content-box;
}

.article-delete-btn {
  margin-left: auto;
  margin-right: 15px;
}

.editor-information__btn--publish {
  color: var(--teslablue);
}


.save-state {
  width: 232px;
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.save-state .save-state__icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.save-state .save-state__icon .material-icons {
  display: block;
}

.save-state .save-state__text {
  font-weight: 700;
  white-space: nowrap;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 16px;
  margin-left: 3px;
  line-height: 24px;
}

.save-state--saved {
  color: var(--green);
}

.save-state--loading {
  color: hsla(0, 0%, 50%, 1)
}

.save-state--unsaved {
  color: var(--warning);
}

.ce-inline-toolbar {
  color: black;
}

.ce-paragraph {
  line-height: 1.58;
}

.ce-block {
}

.ce-block__content, .ce-toolbar__content {
  max-width: 680px;
}

.cdx-notifies {
  color: black;
  box-sizing: content-box;
}

.cdx-notifies * {
  color: black;
  box-sizing: content-box;
}

.image-tool__tune {
  display: none;
}

@keyframes ldio-7m1gexeqndq {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-7m1gexeqndq div {
  position: absolute;
  width: 66px;
  height: 66px;
  border: 9px solid hsla(0, 0%, 50%, 1);
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-7m1gexeqndq div {
  animation: ldio-7m1gexeqndq 1s linear infinite;
  top: 50px;
  left: 50px
}

.loadingio-spinner-rolling-rqt9h9gqbtl {
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  background: none;
}

.ldio-7m1gexeqndq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-7m1gexeqndq div {
  box-sizing: content-box;
}

.cdx-marker {
  color: inherit;
}

.main-title {
  cursor: text;
  position: relative;
}

/* .main-title::after {
  transition: opacity 0.15s, background 0.2s, box-shadow 0.2s;
  pointer-events: none;
  content: "";
  background-color: hsla(0, 0%, 50%, 0.2);
  position: absolute;
  top: -5px;
  right: -10px;
  bottom: -5px;
  left: -10px;
  box-shadow: inset 0 1px 4px 1px hsla(0, 0%, 0%, 0.1);
  border-radius: 8px;
  opacity: 0;
}

.no-touchevents .main-title:hover::after, .main-title:focus::after {
  opacity: 1;
} */

.ce-inline-tool--unlink .icon--unlink {
  margin-bottom: 10px !important;
} 