[contenteditable]:focus {
  outline: 0 solid transparent;
}

.article {
  margin: 34px -30px auto;
  background-color: hsla(0, 0%, 50%, 0.05);
}

@media only screen and (max-width: 850px) {
  .article {
    margin: 34px auto auto;
  }
}



#editorjs * {
  box-sizing: content-box;
}

.editor-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-information > * {
  overflow: hidden;
}

.publish-btn {
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 147px;
  flex: none;
  height: 35px;
  border: none;
  border-radius: 25px;
  background-color: var(--teslablue);
  color: #FFF;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 150ms ease-in-out, transform 150ms ease;
}

.save-state {
  width: 227px;
  position: relative;
  display: inline-block;
  height: 44px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.save-state .save-state__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.save-state .save-state__text {
  white-space: nowrap;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 16px;
  margin-left: 25px;
  line-height: 44px;
}

.save-state--saved {
  color: var(--green);
  display: inline-block;
}

.save-state--loading {
  display: none;
  color: hsla(0, 0%, 50%, 1)
}

.save-state--unsaved {
  color: var(--warning);
  display: none;
}

.publish-btn:hover,
.publish-btn:focus {
  background: hsl(211, 100%, 40%);
}

.publish-btn:active {
  transform: scale(0.98);
}


.ce-inline-toolbar {
  color: black;
}

.ce-paragraph {
  line-height: 1.58;
  padding: 9px 0 21px;
}

.ce-block__content, .ce-toolbar__content {
  max-width: 680px;
}

.cdx-notifies {
  color: black;
  box-sizing: content-box;
}

.cdx-notifies * {
  color: black;
  box-sizing: content-box;
}

@keyframes ldio-7m1gexeqndq {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-7m1gexeqndq div {
  position: absolute;
  width: 66px;
  height: 66px;
  border: 9px solid hsla(0, 0%, 50%, 1);
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-7m1gexeqndq div {
  animation: ldio-7m1gexeqndq 1s linear infinite;
  top: 50px;
  left: 50px
}

.loadingio-spinner-rolling-rqt9h9gqbtl {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-7m1gexeqndq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-7m1gexeqndq div {
  box-sizing: content-box;
}

.cdx-marker {
  color: inherit;
}
