.wrapper {
  width: calc(100% - 20px);
  max-width: 700px;
  margin: 70px auto 0 auto;
}

html.dark .wrapper {
  background-color: transparent;
  box-shadow: none;
}

.profile-head {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--foreground);
  box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, 0.1);
}

html.dark .profile-head {
  padding: 19px;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: none;
}

.profile-head__center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.profile-head__name {
  font-size: 25px;
  font-weight: bold;
}

.profile-head__role {
  color: hsla(0, 0%, 50%, 0.95)
}

.profile-head__description {
  max-height: 114px;
  margin-top: 20px;
  margin-right: 200px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.profile-head__profilepicture {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 160px;
  height: 160px;
  transform: translateY(-50%);
  border-radius: 80px;
}

html.dark .profile-head__profilepicture {
  right: 19px;
}

@media only screen and (max-width: 500px) {
  .profile-head__profilepicture {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  html.dark .profile-head__profilepicture {
    top: 19px;
  }

  .profile-head__center {
    position: relative;
    top: initial;
    margin-top: 180px;
    transform: initial;
  }

  .profile-head {
    height: auto;
  }

  .profile-head__description {
    margin-top: 20px;
    margin-right: initial;
  }

  .profile-head__description {
    max-height: 150px;
  }
}

.background--grayish {
  opacity: 0;
  pointer-events: none;
  z-index: 13000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  transition: opacity 0.2s, background 0.2s;
}

html.prompt--new-article--shown .background--grayish {
  opacity: 1;
  pointer-events: all;
}

.prompt--new-article {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 14000;
  background-color: var(--foreground);
  box-shadow: 0 1px 12px 0 hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: calc(100% - 20px);
  max-width: 400px;
  transition: opacity 0.2s, background 0.2s;
}

html.prompt--new-article--shown .prompt--new-article {
  opacity: 1;
  pointer-events: all;
}

.prompt--new-article__close {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}

.prompt--new-article h2 {
  margin: 0;
  margin-bottom: 20px;
}

.prompt--new-article__form {
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.prompt--new-article__form__input {
  width: 100%;
  margin: 0;
  margin-left: 10px;
  overflow: hidden;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  resize: none;
  margin-right: 10px;
  padding: 6px 6px;
  font-size: inherit;
  border: 1px solid hsla(0, 0%, 50%, 0.3);
  border-radius: 4px;
  background-color: var(--foreground);
  box-shadow: inset 0 1px 4px 0 hsla(0, 0%, 0%, 0.1);
  color: inherit;
  font-family: inherit;
}

html.dark .prompt--new-article__form__input {
  box-shadow: inset 0 1px 4px 0 hsla(0, 0%, 0%, 0.5);
}

.prompt--new-article__form__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 160px;
  height: 35px;
  margin: 0;
  border: none;
  border-radius: 18px;
  background-color: hsl(211, 100%, 50%);
  color: #FFF;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 150ms ease-in-out, transform 150ms ease;
}

.prompt--new-article__form__submit:hover,
.prompt--new-article__form__submit:focus {
  background: hsl(211, 100%, 40%);
}

.prompt--new-article__form__submit:active {
  transform: scale(0.98);
}

.prompt--new-article__form__submit:disabled {
  transform: scale(1);
  cursor: progress;
  opacity: 0.8;
}


.selection__wrapper {
  width: 100vw;
  overflow-x: scroll;
  -ms-overflow-style: none;
  transform: translateX(-10px);
  max-width: 720px;
}

.selection__wrapper::-webkit-scrollbar {
  display: none;
}

.selection {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 10px;
  border: none;
  font-size: 16px;
  min-width: 400px;
}

.selection__button {
  min-width: 120px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  box-sizing: content-box;
  height: 38px;
  color: inherit;
  font-size: 15px;
  width: 130px;
  padding: 1px 1px 2px;
  margin: 0;
  margin-right: 10px;
  overflow: hidden;
  border: none;
  border-radius: 20px;
  background-color: var(--foreground);
  box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, 0.1);
  transition: background 0.2s, box-shadow 0.15s, opacity 0.15s, transform 0.15s;
}

.selection__button:last-of-type {
  margin-right: 0;
}

.selection__button--selection {}

html.dark .selection__button--selection {
  padding: 0 0 1px;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
}

.selection__button:hover {
  transform: scale(1.015);
  box-shadow: 0 1px 12px 0 hsla(0, 0%, 0%, 0.1);
}

.selection__button:focus {
  color: inherit;
}

.selection__button--selection--active {
  opacity: 0.6;
  box-shadow: 0 1px 4px 0 hsla(0, 0%, 0%, 0.1);
  transform: scale(0.985) !important;
  color: inherit;
}

.selection__button--new-article {
  background-color: var(--teslablue);
  color: #FFF;
}

.cards {
  padding-bottom: 60px;
}

.card {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--foreground);
  box-shadow: 0 1px 8px 0 hsla(0, 0%, 0%, 0.1);
}

html.dark .card {
  padding: 19px;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: 0 0 1px 0 hsla(0, 0%, 0%, 0);
}

.card--null {
  padding: 20px 0 0 !important;
  border: none !important;
  background-color: transparent;
  box-shadow: none;
  text-align: center;
}

.card--article {
  display: flex;
  align-items: flex-start;
  height: 192px;
}

.card--new-post {}

.card--new-post form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card--new-post__textarea {
  overflow: hidden;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  resize: none;
  margin: 0;
  margin-right: 10px;
  padding: 6px 6px;
  font-size: inherit;
  border: 1px solid hsla(0, 0%, 50%, 0.3);
  border-radius: 4px;
  background-color: var(--foreground);
  box-shadow: inset 0 1px 4px 0 hsla(0, 0%, 0%, 0.1);
  color: inherit;
  font-family: inherit;
}

html.dark .card--new-post__textarea {
  box-shadow: inset 0 1px 4px 0 hsla(0, 0%, 0%, 0.5);
}

.card--new-post__textarea:focus {
  outline: none;
}

.card--new-post__submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 90px;
  height: 33px;
  border: none;
  border-radius: 25px;
  background-color: var(--teslablue);
  color: #FFF;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 150ms ease-in-out, transform 150ms ease;
}

.card--new-post__submit:hover,
.card--new-post__submit:focus {
  background: hsl(211, 100%, 40%);
}

.card--new-post__submit:active {
  transform: scale(0.98);
}

/* form submit styles when disabled */
.card--new-post__submit:disabled {
  transform: scale(1);
  cursor: progress;
  opacity: 0.8;
}

.card__time {
  position: absolute;
  right: 20px;
  bottom: 5px;
  padding: 4px 6px;
  transform: translateY(50%);
  border-radius: 12px;
  background-color: var(--foreground);
  box-shadow: 0 -1px 4px 0 hsla(0, 0%, 0%, 0.1);
  color: hsla(0, 0%, 50%, 1);
  font-size: 12px;
}

html.dark .card__time {
  right: 19px;
  bottom: 4px;
  padding: 3px 5px;
  border: 1px solid hsla(0, 0%, 50%, 0.2);
  box-shadow: 0 -1px 4px 0 hsla(0, 0%, 0%, 0.5)
}

.article__info {
  margin-right: 10px;
}

.article__title {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.article__preview {
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 116px;
  overflow: hidden;
}

.article__preview p {
  margin: 0;
}

.article__img {
  height: 150px;
  border-radius: 4px;
}
