.article {
  margin-top: 34px;
  background-color: hsla(0, 0%, 50%, 0.05);
  margin: 34px -15px auto -15px;
}

#editorjs * {
  box-sizing: content-box;
}

@media only screen and (max-width: 850px) {
  article {
    outline: 5px solid hsla(0, 0%, 50%, 0.05);
  }
}
